.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Lucida Grande'
}

.heading {
    font-size: 24px;
    align-self: center;
}

.buttonLink {
    max-width: 400px;
    text-align: center;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 4px;
    color: white;
    background-color: #234075;
    margin-bottom: 40px;
  }

.tableData {
    text-align: center;
}

.dateText {
    white-space: nowrap;
}

.modal {
    margin-top: 50px;
}
