.createProductForm {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    font-family: 'Lucida Grande'
}

.formHeading {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.spaceDiv {
    margin-bottom: 10px;
}

.formText {
    font-size: 14px;
    text-align: center;
}

.buttonGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttonLink {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 20px;
    border-radius: 4px;
    color: white;
    background-color: #234075;
}

.cancelButtonLink {
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 20px;
    border-radius: 4px;
    color: white;
    background-color: #75232e;
}

.submittingSpinner {
    margin-top: 40px;
    align-self: center;
}
